.fav-div {
    background-color: #D1D2D4;
    padding-bottom: 20px;
}
.song {
    padding: 10px;
    display: flex;
    align-items: center;
    /* width: 90vw; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.fav-list {
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.fav{
   width: 70%;
    display: flex;
    /* justify-content: flex-start;  */
}
.fav-title {
    width: 50%;
}

.fav-artist {
    width: 30%;
}

.btns {
    width: 30%;
}
.fav-btn {
    width: fit-content;
    background-color: black;
    color: #f364ff;
    padding: 0.5rem;
    margin: 0.5rem;
}

.loading {
    padding: 20px;
}